@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Custom CSS variables */
}

a {
	text-decoration: inherit;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

button {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	/* Change color CSS variables here */
}
